/*degiskenlerim*/
:root {
  --primary-brand: #4d5ae5;
  --Pressed-state: #404bbf;
  --Dark: #2e2f42;
  --Success: #31d0aa;
  --Text: #434455;
  --Subtle-Text: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --Modal-overlay: #2e2f42;
  --Hero-background: #2e2f42;
  --Modal-background: #fcfcfc;
  --White-background: #ffffff;
}
/*contanier start*/
.container {
  position: relative;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
  background-color: #ffffff;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  font-size: 56px;
  letter-spacing: 1.1;
  line-height: 1.07;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  letter-spacing: 2%;
  color: #2e2f42;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*contanier end*/

/* header start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.sol-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 156px;
}

.sol-blok .logo svg {
  width: 115px;
  height: 24px;
  fill: #ffffff;
}

header .sol-blok .nav-bar {
  margin-left: 76px;
}

header .sol-blok nav ul {
  display: flex;
  gap: 40px;
  list-style: none; /* Varsayılan liste işaretlerini kaldır */
  margin: 0;
  padding: 0;
}

header .sol-blok .nav-ul .nav-studio {
  text-decoration: none; /* Alt çizgiyi kaldır */
  padding-bottom: 20px;
  position: relative; /* Pseudo elementler için gerekli */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .sol-blok .nav-ul a:hover {
  color: var(--Pressed-state); /* Hover durumunda renk değişimi */
}

header .sol-blok .nav-ul .nav-studio::after {
  content: ""; /* Pseudo elementin görünmesi için gerekli */
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -5px;
  border-radius: 2px; /* Yuvarlak kenarlar */
  transform: scaleX(0); /* İlk durumda görünmez */
  transform-origin: center; /* Animasyonun başlangıç noktası */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .sol-blok .nav-ul .nav-studio:hover::after {
  transform: scaleX(1); /* Hover durumunda genişlet */
}

header .sag-blok {
  margin-right: 156px;
}

header .sag-blok address {
  display: flex;
  gap: 40px;
}

header .sag-blok address a {
  text-decoration: none; /* Alt çizgiyi kaldır */

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .sag-blok address a:hover {
  color: var(--Pressed-state); /* Hover durumunda renk değişimi */
}
/* header end */

/*hero image section start*/
main .hero-image {
  display: flex;

  margin: 0 auto;
  color: #333333;
  height: 600px;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
main .hero-image .hero-image-title {
  max-width: 496px;
  font-size: 56px;
  color: var(--White-background);
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}
main .hero-image .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero-image .container .hero-image-btn {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  color: white;
  margin-top: 48px;
  display: block;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
main .hero-image .container .hero-image-btn:hover {
  background-color: var(--Pressed-state);
}
/*hero image section end*/

/* section one start*/
.section-one .container .visually-hidden {
  visibility: hidden;
}

.section-one .container .feature-item .icons {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
.section-one .container .feature {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  gap: 24px;
  margin-bottom: 120px;
}
.section-one .container .feature-item .icons {
  max-width: 264px;
  display: flex;
  gap: 24px;
}
.section-one .container .feature-head {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2%;
  line-heigth: 24px;
  margin-bottom: 8px;
  width: 264px;
}
.section-one .container .feature .feature-parag {
  width: 264px;
  font-family: roboto;
  font-weight: 200;
}
/* section one end*/

/* section two start*/
.our-team {
  width: 1440px;
  height: 780px;
  background-color: var(--Light);
  margin: 0 auto;
}

.our-team .team-container .our-team-head {
  padding-top: 120px;
  padding-bottom: 72px;
  color: var(--Dark);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-card {
  text-align: center;
  display: flex;
  padding-left: 156px;
  padding-right: 156px;
  gap: 24px;
}

.our-team .team-container .our-team-card .our-team-content {
  object-fit: cover;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-parag {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
}
.our-team .team-container .our-team-card .our-team-content {
  width: 264px;
  height: 428px;
}

.our-team .team-container .our-team-card .team-card-title {
  margin-top: 32px;
}

.team-card-parag {
  font-size: 1rem;
  color: #777;
  margin-bottom: 15px;
  margin-top: 8px;
}

.our-team .team-container .social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 15px;
}

.our-team .team-container .social-links svg {
  width: 30px;
  height: 30px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-brand);
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}
/* section two end*/

/* section three start*/
.our-portfolio .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1128px;
  margin-top: 120px;
}

.our-portfolio .container .our-portfolio-head {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.our-portfolio .container .row-one-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.our-portfolio .container .row-one-ul .project-card {
  position: relative;
  width: 350px;
  height: 420px;
}

.our-portfolio.container .row-one-ul .project-card .card-content {
  margin-top: 20px;
}

/* section three end*/

/* footer start */
.footer {
  width: 1440px;
  height: 780px;
  margin: 0 auto;
}

.footer .footer-container {
  background-color: #2c2c3a;
  margin-top: 120px;
  width: 1440px;
  height: 312px;
  padding-left: 156px;
  padding-right: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.footer .footer-container svg {
  width: 115px;
  height: 24px;
  margin-bottom: 16px;
}

.footer .footer-container .logo-parag {
  width: 264px;
  height: 112px;
}

.footer .footer-container .logo-parag .footer-parag {
  color: var(--Light);
}

.footer .footer-container .footer-social-links {
  width: 280px;
  height: 80;
  margin-left: 120px;
}

.footer .footer-container .footer-social-links .footer-social-links-parag {
  color: var(--Light);
}

.footer .footer-container .footer-social-links svg {
  margin-top: 16px;
  gap: 16px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-brand);
  fill: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
}
/* footer end*/
